<button mat-raised-button class='botao-dialog' color='primary' (click)="openDialog(null)">
    Adicionar lista
</button>

<div *ngIf="dataSource.length <= 0" class="container">
    <h1>Lista vazia</h1>
</div>

<div *ngIf="dataSource.length > 0">
    <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item</th>
            <td mat-cell *matCellDef="let element"> {{element.item}} </td>
        </ng-container>
        <ng-container matColumnDef="qtd">
            <th mat-header-cell *matHeaderCellDef> Quantidade </th>
            <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
            <button class="btn">
                <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)="onDelete(i)">delete</mat-icon>
            </button>
            <button class="btn">
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="onEdit(i, element)">edit</mat-icon>
            </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            (click)="clickedRows.add(row)"
            [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;">
        </tr>
                
    </table> 

    <button mat-raised-button
        class='botao-prosseguir' color='primary' routerLink="/lista">
        Prosseguir
    </button>
</div>