table{
    width: 70%;
    margin: 10px auto;
}

.campo-qtd{
    width: 20%;
    text-align: center;
}

.mat-column-qtd{
    text-align: center;
}

.mat-column-item{
    text-align: center;
}
.mat-column-total{
    text-align: center;
}

.campo-preco {
    padding: 5px 0 0 0;
}

.mat-tab-group {
    margin: 1px auto;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}
 

mat-card{
    margin: 4px auto;
}