<mat-tab-group mat-align-tabs="start">

    <mat-tab label="Total">
        <mat-card class>{{ calcularTotal() }}</mat-card>
    </mat-tab>

    <mat-tab label="Total pago">
        <mat-card>{{ totalMarcados }} </mat-card>
    </mat-tab>

    <mat-tab label="Materiais comprados">
        <mat-card>{{ checkbox() }} / {{ dataSource.length }}</mat-card>
    </mat-tab>

</mat-tab-group>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef="let cell">
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.select"></mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> {{element.item}} </td>
    </ng-container>

    <ng-container matColumnDef="qtd">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element">{{ element.qtd }} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill" class="campo-preco">
                <mat-label>Preço</mat-label>
                <input matInput [(ngModel)]="element.preco">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total do material</th>
        <td mat-cell *matCellDef="let element">{{ element.totalProduto }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>